body{
    margin:0;
    font-family: sans-serif;
    background-image: url('images/foneimage.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

/* header styles */

header{
    text-align: center;
    width: 100%;
    background-color: whitesmoke;
    border-bottom: solid 2px rgb(176, 176, 176);
    box-shadow:0px 1px 1px #cdcdcd;
}

nav{
    position: absolute;
    text-align: left;
    left: 0;
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 500ms ease-in-out;
    margin-top: 10px;
    z-index: 2;
}

.main-header-logo{
    max-width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.main-header-checker{
    display: none;
}

.main-header-checkers-label{
    position:absolute;
    left: 0;
    top: 0;
    margin-left: 1em;
    margin-top: 1em;
    height: 100%;
}



nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    text-decoration: none;
    font-size: 1em;
    color: black;
    opacity: 0;
    transition: opacity 250ms ease-in-out 250ms;
}

nav a:hover{
    color: rgb(218, 158, 28);
}

.main-header-checker:checked ~ nav{
    transform: scale(1,1);
}

.main-header-checker:checked ~ nav a{
    transform: scale(1,1);
    opacity: 1;
}

@media screen and (min-width:800px) {
    .main-header-checkers-label{
        display: none;
    }

    header{
        min-width: 800px;
        display: grid;
        grid-template-columns: 1fr auto minmax(600px ,3fr) 1fr;
    }

    .main-header-logo{
        margin-left: 250px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 50%;
        cursor: pointer;
    }

    nav{
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul{
        display: flex;
    }

    nav li{
        margin-bottom: 0;
        margin-left: 50px;
    }

    nav a{
        opacity: 1;
        position: relative;
    }

    nav a::before{
        content: '';
        display: block;
        height: 3px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transform-origin: left;
        transition: transform ease-in-out 350ms;
        border-radius: 5px;
    }

    nav a:hover::before{
        transform: scale(1,1);
    }

}

/* projects */

.proj-parent{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.proj-parent div{
    background-color: white;
    border: solid 2px rgb(218, 158, 28);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 50px;
    padding: 40px;
}

.proj-parent div img{
    max-width: 100%;
    width: 300px;
    height: auto;
}

.proj-parent div a {
    font-size: 40px;
    color: rgb(218, 158, 28);
    text-decoration: none;
}

.proj-parent div a:hover {
    color:black;
}



@media screen and (max-width:800px) {
    .proj-parent div{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .proj-parent div a{
        margin-bottom: 30px;
    }
}
